<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="breadCrumbs">
    <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
  </div>

  <ion-card>
    <ion-title class="title text-color-black">Privacy Policy</ion-title>
    <ion-item lines="none">
      <ion-text class="text-color-black">
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod
        tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text class="text-color-black">
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod
        tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Non illo accusamus iusto, fugit aliquam
        odio. Magni autem temporibus nostrum? Dolorum saepe expedita adipisci
        voluptatibus id itaque doloremque ipsum consequatur corporis laudantium
        eius doloribus perferendis, debitis ut ducimus qui atque voluptates
        deserunt officiis ea repellat culpa aperiam necessitatibus amet? Unde
        minus excepturi provident sit id! Deserunt ducimus iure eius consequatur
        vitae a possimus hic veritatis exercitationem porro iste qui
        voluptatibus illo, delectus harum odit? In laudantium praesentium ut qui
        ullam possimus nesciunt similique exercitationem? Voluptates esse
        placeat, porro perspiciatis, quam voluptate ratione iusto at accusamus
        nesciunt quibusdam enim, quis sunt iure.
      </ion-text>
    </ion-item>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
