<app-header></app-header>

<ion-content [fullscreen]="true">
      <div class="breadCrumbs">
         <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
      </div>
     
      <ion-title class="title">FAQs</ion-title>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, 
            sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
             nisi ut aliquid ex ea commodi consequatur. 
             Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu 
             fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
             sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <p style="text-align:justify;">Lorem ipsum dolor sit amet. Aut provident mollitia ab deserunt perspiciatis hic quaerat repellat. Et sequi ipsum ut cupiditate voluptatum ea totam vitae ut velit culpa est architecto officiis. Et odio voluptas ut illum voluptas sed modi autem! Aut earum distinctio eum nemo voluptas est repudiandae corporis et rerum voluptatum qui fuga molestiae est magni laudantium ea dolor consectetur!

A neque consequuntur et tempore internos qui cumque excepturi cum sapiente iste non nihil quia eos suscipit laudantium. Sit porro libero ad quos omnis aut dignissimos quod? Ex dignissimos autem id nemo aspernatur non aliquid facere ab odit consequuntur cum iusto laudantium non voluptatibus voluptatem a esse facilis.

Et sint quos a voluptas odio est deserunt facere. Ad velit recusandae vel delectus voluptatum sed consequatur tempore et tenetur molestiae ad autem rerum est autem consequatur. Non velit illum est nihil ipsum non laborum nobis sed internos laborum id minima architecto.</p>
 <app-footer></app-footer>
</ion-content>
