ion-card {
    padding: 20px 20px 40px 20px;
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid rgb(219, 215, 215);
}
.cart-btn-box1 {
    margin-top: 40px;
}
.box-s {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-bold {
    font-weight: bolder;
}