<div class="wrapper">
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <ion-icon name="arrow-back" class="back-btn" (click)="gotoLogin()"></ion-icon>
        <ion-card-title class="h2">Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="isOtpMessage" class="text-color-green">
          {{ isOtpMessage }}
        </p>
        <p *ngIf="isSuccess" class="text-color-green">
          {{ isSuccess }}
        </p>
        <p class="text-danger fs" *ngIf="isInvalid('passowrd')">Enter new password
        </p>
        <p class="text-danger fs" *ngIf="isInvalid('confirm')">Enter confirm password
        </p>
        <p class="text-danger fs" *ngIf="isError">Please enter all details.
        </p>
        <p class="text-danger fs" *ngIf="isInvalid('email')">Enter email
        </p>
        <p class="text-danger fs" *ngIf="isInvalid('telephone')">Enter mobile no
        </p>
        <p class="text-danger fs" *ngIf="telephone.errors?.['emailPhoneValidation']">Invalid
          mobile number</p>
        <p class="text-danger fs" *ngIf="confirm.errors?.['confirmPasswordValidator']">Password does
          not
          match.</p>
        <p class="text-danger fs" *ngIf="email.errors?.['emailPhoneValidation']">Invalid
          email</p>
        <ion-grid>
          <ng-container *ngIf="isLoginwidthmobPassword">
            <ion-row>
              <ion-col size="3" class="text-center">
                <ion-label class="flag-ar" (click)="showDropDown()">
                  <img [src]="this.flag" alt="" class="flag"><ion-icon name="caret-down" class="ar-c"></ion-icon>
                </ion-label>
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <input type="text" [disabled]="isOtp" class="text-color-black address-text" [maxlength]="10" formControlName="telephone"
                    placeholder="Mobile Number*">
                </ion-label>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row class="drop-down" *ngIf="isShow">
            <ion-col>
              <div class="select-country">
                <div class="c-1" *ngFor="let code of countries;" (click)="getCode(code)">
                  <img [src]="code.flag" alt="" class="flag">
                  <p class="cod-01">{{ code?.name }}</p>
                  <p class="cod-01">{{ code?.code }} ({{ code?.countryId }})</p>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="!isLoginwidthmobPassword">
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-input type="email" [disabled]="isOtp" formControlName="email" placeholder="Email*"
                    class="text-color-black"></ion-input>
                </ion-label>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-container *ngIf="isOtp">
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-input types="text" class="text-color-black" formControlName="otp" placeholder="OTP*"
                    [maxlength]="6"></ion-input>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-input types="password" class="text-color-black" formControlName="password"
                    placeholder="New password*"></ion-input>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-input types="password" class="text-color-black" formControlName="confirm"
                    placeholder="Confirm password*"></ion-input>
                </ion-label>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-grid>
        <ion-label class="button2" *ngIf="isOtp">
          <ion-button class="header6" [ngClass]="{'opacity':isLoading}" fill="clear" size="default"
            (click)="onSubmit()">
            <span class="loader" *ngIf="isLoading"></span>{{ isLoading? 'Submitting':'Submit'}}</ion-button>
        </ion-label>
        <ng-container *ngIf="!isOtp">
          <ion-label class="button2">
            <ion-button class="header6" [ngClass]="{'opacity':isLoading}" fill="clear" size="default"
              (click)="sendOtp()">
              <span class="loader" *ngIf="isLoading"></span>{{ isLoading? 'Sending Otp':'Send Otp'}}</ion-button>
          </ion-label>
        </ng-container>
        <ion-item lines="none">
          <ion-label>
            <ion-text>
              <p class="text-0x">Check with <span class="text-h cursor" (click)="loginWihmobileAndPassword()">{{
                  !isLoginwidthmobPassword ? 'Mobile No' :'Email Id' }}</span></p>
            </ion-text>
          </ion-label>
        </ion-item>
        <h4 class="text-0x">Don't have an account? <span class="signup" (click)="openSignupModel()" expand="block">Sign
            Up</span>
        </h4>
      </ion-card-content>
    </ion-card>
  </form>
</div>