.footer-box {
  width: 94%;
  margin: auto;
  margin-top: 30px;
}

.link-opacity {
  opacity: 0.7;
  cursor: pointer;
}

.privacy {
  font-size: 12.9px;
  font-family: sans-serif;
}

.footer-header {
  font-weight: bolder;
  margin: 10px 0px 20px -10px;
}

.see-all {
  color: green;
  margin-left: 10px;
  font-size: 15px;
}

.image {
  width: 100px;
}

.social-icon {
  color: black;
  font-size: 36px;
}

.app-image {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.app {
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.link-01 {
  font-size: 14px;
  font-family: sans-serif;
}
.link-01:hover{
  opacity: 1;
}
.privacy-box {
  margin-top: 40px;
}

.bottom-text {
  margin-top: 20px;
}

.social-icon {
  width: fit-content;
  height: fit-content;
  filter: invert(1);
}

.social-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

@media (max-width:768px) {
  .footer-header {
    font-weight: bolder;
    margin: 10px 0px 20px -10px;
    font-size: 14px;
  }

  .link-01 {
    font-size: 11px;
    font-family: sans-serif;
  }
  .footer-sx{
    text-align: center;
  }
}