ion-modal#modal-3 {
    --width: 550px;
    --min-width: 350px;
    --height: 600px;
    --border-radius: 25px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal .form-container {
    margin: 20px;
}

ion-icon {
    cursor: pointer;
    float: right;
    font-size: 25px;
}

.title-section {
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

ion-input {
    margin-top: 10px;
}

.border-section {
    border: 1px solid rgb(184, 174, 174);
    border-radius: 10px;
}

.button-padding {
    padding: 7px 10px;
    margin: 5px 10px 5px 0;
}

.full-width {
    height: 40px;
    width: 100%;
    background-color: rgb(240, 115, 40);
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

.full-width:hover {
    background-color: rgb(219, 166, 133);
    color: white;
}

.btn-container {
    margin: 10px 0;
}

.isClicked {
    border: 1px solid rgb(240, 115, 40);
}

.other-section {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 10px;
}

.other-section span {
    width: 15%;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
}

.other-section input {
    width: 70%;
    border: none;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.other-section .span-1 {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

.other-section .span-1:hover {
    background-color: black;
    color: white;
}

.other-section .span-2 {
    color: rgb(240, 115, 40);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    ion-modal#modal-3 {
        --width: 350px;
        --min-width: 300px;
        --height: 600px;
    }

    .other-section span {
        width: 25%;
    }

    .other-section input {
        width: 50%;
    }
}