.ion-grid {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.small-image {
  border: 1px solid #ff5c01;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  padding: 15px;
}

.details-1 {
  width: 90%;
}

.image-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.large-image {
  width: 100%;
  height: 100%;
}

.item-title {
  font-size: 25px;
  font-weight: bold;
  opacity: 0.8;
}

.item-price {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bolder;
}

.stock-btn {
  border: 1px solid #ff5c01;
  color: green;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.text-x1 {
  margin-left: 20px;
  opacity: 0.6;
  font-weight: bold;
}

.hr-line {
  width: 98%;
  border: 1px solid black;
  opacity: 0.1;
  margin: auto;
}

.text-x2 {
  font-size: 17px;
}

.item-desc {
  font-size: 30px;
  font-weight: bolder;
}

.heart-icon {
  margin-top: 30px;
  font-size: 48px;
  color: black;
  opacity: 0.6;
  cursor: pointer;
}

.price-icon-bx {
  display: flex;
  width: 80%;
}

.checkout-btn {
  width: 90%;
  background-color: #ff5c01;
  color: white;
  padding: 15px;
  border-radius: 25px;
  margin: 15px 0px 15px 15px;
  font-size: 22px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.checkout-btn:hover {
  opacity: 0.8;
  background-color: #f5cab1;
  color: #ff5c01;
}

.addtocart {
  display: flex;
  justify-content: center;
}

.hr-line {
  width: 99%;
  border: 1px solid black;
  opacity: 0.1;
  margin: 60px auto;
}

.margin-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-xl {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.star {
  color: black;
  opacity: 0.4;
  font-size: 24px;
}

.opacity {
  opacity: 0.7;
}

.rating-tex {
  font-size: 15px;
}

.hr-line2 {
  width: 100%;
  border: 9px solid rgb(141, 138, 138);
  border-radius: 10px;
  opacity: 0.4;
  margin-top: 5px;
}

.rating-font {
  font-family: sans-serif;
}

.review-text {
  width: fit-content;
  color: #ff5c01;
  border: 1px solid rgb(141, 138, 138);
  padding: 2% 20% 2% 20%;
  border-radius: 60px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 25px;
}
.body-text{
  width: 60%;
  border: 1px solid rgb(141, 138, 138);
  margin-top: 20px;
  border-radius: 10px;

}
.magnify-img{
  display: none;
  position: absolute;
  background-repeat: no-repeat;
  left: 400px;
  top: -100px;
  width: 650px;
  height: 600px;
  border-radius: 25px;
  border: 1px solid rgb(233, 229, 229);
  z-index: 1000;
}

@media (max-width:768px) {
  // .magnify-img{
  //   display: none;
  //   position: absolute;
  //   background-repeat: no-repeat;
  //   left: 20px;
  //   top: -50px;
  //   width: 150px;
  //   height: 150px;
  //   border-radius: 25px;
  //   border: 1px solid rgb(233, 229, 229);
  //   z-index: 1000;
  // }
  .ion-grid {
    width: 100%;
    margin-top: 5%;
  }
}