<div class="wrapper" >
  <form>
    <ion-grid>
      <ion-row>
        <ion-card>
          <ion-col size-lg="4" size-md="6" size-sm="6" size-xs-2 size="12">
            <ion-card-header>
              <ion-card-title class="h2">Login</ion-card-title>
            </ion-card-header>
            <ng-container *ngIf="!isLogin">
              <ion-card-content>
                <ng-container *ngIf="isLoader">
                  <ion-spinner name="lines-sharp"></ion-spinner>
                </ng-container>
                <ng-constainer *ngIf="isRegSuccess && !isLoader">
                  <h3 class="text-color-green text-center">Registration Successfull!</h3>
                </ng-constainer>
                <ng-constainer *ngIf="!isRegSuccess && !isLoader">
                  <ion-item lines="none">
                  <h3 class="text-color-green text-center">{{ isReceivedOtp }}</h3>
                  </ion-item>
                  <ion-Item lines="none">
                    <ion-label class="otp">Enter Otp</ion-label>
                  </ion-Item>
                  <ion-item lines="none">
                    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                      (fill)="handleFillEvent($event)">
                    </ngx-otp-input>
                  </ion-item>
                  <ion-Item lines="none">
                    <p class="otp">Time: {{ timeStamp }}</p>
                  </ion-Item>
                  <p class="resend">Resend OTP</p>
                </ng-constainer>
                <br>
                <ion-label>
                  <ion-text>
                    <h4 class="text-center">Login with</h4>
                  </ion-text>
                </ion-label>
                <ion-label class="button2">
                  <ion-button class="text-h" shape="round" fill="clear" (click)="loginWithMobileNo()">Mobile Number</ion-button>
                </ion-label>
              </ion-card-content>
            </ng-container>
          </ion-col>
        </ion-card>
      </ion-row>
    </ion-grid>
  </form>
</div>