<app-header></app-header>
<ion-content [fullscreen]="true">
  <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
  <h1>My Orders</h1>
  <ion-list lines="none" class="list">
    <div *ngFor="let item of products;let i=index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="item.image"/>
        </ion-thumbnail>
        <ion-label>
          <p><b>{{item.status}}</b></p>
          <ion-text>Arriving By {{item.dateOfArrival}}</ion-text><br>
          <ion-text>{{item.productTitle}}</ion-text>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" (click)="onNextClicked(item)"></ion-icon>
      </ion-item>
      <div class="hr-line"></div>
    </div>
  </ion-list>
