<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>breakfast_cereals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-content >
  <ion-grid>
<ion-row>
  <ion-col padding size-xs="6" size-sm="2" size-md="4" size-lg="3"  align-self-stretch>
    <ion-card routerLink="/breakfast-cereals">
      <img src="assets\batters\4.jpg"/>
      
      <ion-card-title>Breakfast Cereals</ion-card-title>
    </ion-card >
      
  </ion-col>
  
  <ion-col padding size-xs="6" size-sm="2"  align-self-stretch>
    <ion-card >
      <img src="assets\batters\4.jpg"/>
      <ion-card-title>Breakfast Cereals</ion-card-title>
    </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2"  align-self-stretch>
    <ion-card>
      <img src="assets\batters\4.jpg"/>
      <ion-card-title>Breakfast Cereals</ion-card-title>
    </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2"  align-self-stretch>

      <ion-card>
      <img src="assets\batters\4.jpg"/>
      <ion-card-title>Breakfast Cereals</ion-card-title>
    </ion-card>
  </ion-col>
  

        <ion-col padding size-xs="6" size-sm="2" align-self-stretch>

      <ion-card>

        <img src="assets\batters\4.jpg"/>

        <ion-card-title>Breakfast Cereals</ion-card-title>

      </ion-card>
  </ion-col>
       <ion-col padding size-xs="6" size-sm="2" align-self-stretch>

      <ion-card>
        <img src="assets\batters\4.jpg"/>
        <ion-card-title>Breakfast Cereals</ion-card-title>
      </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2" align-self-stretch>
          <ion-card>
        <img src="assets\batters\4.jpg"/>
        <ion-card-title>Breakfast Cereals</ion-card-title>
      </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2" align-self-stretch>
          <ion-card>
        <img src="assets\batters\4.jpg"/>
        <ion-card-title>Breakfast Cereals</ion-card-title>
      </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2" align-self-stretch>
        <ion-card>
        <img src="assets\batters\4.jpg"/>
        <ion-card-title>Breakfast Cereals</ion-card-title>
      </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2"  align-self-stretch>
          <ion-card>
        <img src="assets\batters\4.jpg"/>
        <ion-card-title>Breakfast Cereals</ion-card-title>
      </ion-card>
  </ion-col>
  <ion-col padding size-xs="6" size-sm="2"  align-self-stretch>
        <ion-card>
        <img src="assets\batters\4.jpg"/>
        <ion-card-title>Breakfast Cereals</ion-card-title>
      </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
</ion-card-content>
</ion-content>
