#modal-2 {
  width: fit-content;
  min-width: 250px;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
.wrapper {
  margin-bottom: 10px;
  margin: 15px 15px;
}
#modal-2 .box-02 {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}
#modal-2 .box-02 .input-01 {
  width: 150px;
  padding: 10px;
  color: black;
  background-color: var(--ion-color-secondary-contrast);
  border: 1px solid rgb(184, 174, 174);
  font-size: 13px;
}

#modal-2 .box-02 .input-01:focus {
  border-color: var(--ion-color-tertiary-tint);
}
#modal-2 .box-02 .check-btn {
  color: var(--ion-color-secondary-contrast);
  margin-top: 5px;
  margin-left: 10px;
  transition: 0.4s ease-in-out;
  font-weight: bold;
}

#modal-2 .box-02 .check-btn:hover {
  color: #ff5c01;
  background: #f5cab1;
}

#modal-2 .p1 {
  max-width: 250px;
  margin: 3px 20px 10px 20px;
  color: black;
  font-weight: bolder;
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 12px;
}

#modal-2 .box-03 {
  margin-top: 20px;
}

#modal-2 .box-03 .check-btn {
  color: var(--ion-color-secondary-contrast);
  background-color: var(--ion-color-tertiary-tint);
  margin-top: -25px;
  margin-left: 10px;
  opacity: 0.7;
  transition: 0.3s;
}
#modal-2 .box-03 .check-btn:hover {
  background: #f5cab1;
  color: #ff5c01;
}
#modal-2 .p0 {
  color: var(--ion-color-danger);
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 9px;
}

.box-01 {
  width: 100%;
  border: 1px solid rgb(228, 217, 217);
  border-radius: 15px;
  padding: 10px;
}

.box-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.txt-1 {
  opacity: 0.7;
}

.txt-01 {
  font-size: 12px;
  font-weight: bold;
}

.head-1 {
  font-size: 14px;
  font-weight: bolder;
  margin: 5px -20px 10px;
}

.hr-line {
  width: 90%;
  border: 1px solid black;
  opacity: 0.1;
  margin: auto;
}

.text-1 {
  margin: 20px 20px 10px 20px;
  font-weight: bolder;
  font-family: "Gill Sans Extrabold", sans-serif;
  text-align: center;
  font-size: 20px;
}

.bg-color {
  background-color: #ff5c01;
}

.border-r {
  border-radius: 25px;
}

@media (max-width: 767px) {
  #modal-2 .box-02 .check-btn {
      margin-top: 5px;
  }
}