.ion-grid {
    width: 90%;
    margin: 50px auto;
}

.text-bold {
    font-weight: bolder;
}

.text-font {
    font-size: 34px;
    color: var(--ion-color-medium-shade);
}

.earn1 {
    color: #ff5c01;
    font-size: 34px;
}

.text-11 {
    font-size: 25px;
}

p {
    color: var(--ion-color-medium-shade);
    font-size: 25px;
}

ion-icon {
    color: var(--ion-color-medium-shade);
    cursor: pointer;
}

.social-icon {
    // filter: invert(1);
}

.social-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

ion-card {
    height: 70px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid rgb(219, 215, 215);
}

.hr-line {
    width: 1px;
    height: 100%;
    margin: auto;
    border: 1px solid rgb(219, 215, 215);
}

.copy {
    font-size: 25px;
    color: var(--ion-color-medium-shade);
    font-weight: bold;
}

.icon-grid {
    margin-top: -20px;
}

ion-content>div {
    width: 90%;
    margin: auto;
}
ul{
    font-size: 20px;
    color: grey;
    list-style-type:square;
}
ul > li{
    font-size: 16px;
}
@media (max-width: 1024px) {
    .ion-grid {
        width: 100%;
        margin: 30px auto;
    }

    ion-content>div {
        width: 100%;
        margin: auto;
    }
}