<app-header></app-header>

<ion-content [fullscreen]="true">
      <div class="breadCrumbs">
            <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
         </div>
 
      <ion-title class="title">Terms and Conditions</ion-title>
      <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 <p>Lorem ipsum dolor sit amet. Et recusandae consequuntur quo voluptatum quam eum voluptatibus repellat id quisquam omnis quo dolores ipsa. Aut velit internos id assumenda tempora rem quos illo sed consequatur voluptatem id magni repellat sed cumque similique.

Sit excepturi molestiae aut temporibus odio qui repellat eius cum velit debitis id sint distinctio est praesentium repellat. Cum tempore provident non perferendis iste in fugiat placeat et veniam sint.

Et eligendi quas non iste vero non fugit amet eos nesciunt voluptatem. Hic quae voluptas qui molestiae repellendus qui alias atque nam nihil distinctio ea consequuntur minima quo molestias iste eos quia quia. Et facilis natus in dolore voluptatem ea rerum quia et autem delectus est ratione natus et cumque velit aut galisum magnam. Et laborum pariatur sit voluptas adipisci id quia dolorem</p>
<app-footer></app-footer>
</ion-content>
