<app-header></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
  <ion-card class="text-center">
    <div style="display: flex; justify-content: center;">
      <ion-icon name="checkmark-sharp"></ion-icon>
    </div>
    <h3 class="succ-1">Order Successfully Placed</h3>
    <p class="text-center succ-2">Thank You so much for your order</p>
    <p class="text-center">Order Id <span class="text-color-black text-bold">#DAL-67651</span></p>
    <ion-button fill="clear" class="btn-a1" (click)="gotoOrderHistory()">Check Order History</ion-button>
  </ion-card>
  <ion-item lines="none">
    <p class="text-center succ-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis maxime deserunt eius adipisci saepe, quidem
      aperiam explicabo consectetur repudiandae suscipit consequatur modi totam fugiat veniam maiores, tenetur deleniti
      sunt odit nobis porro natus aut et quae? Asperiores aliquam doloremque quos dolorem. Et explicabo in vero ad
      repudiandae dignissimos nesciunt, soluta laudantium voluptates, praesentium nulla cumque nostrum temporibus
      impedit totam laborum? Beatae numquam, cupiditate voluptates delectus iusto maiores temporibus? <span class="text-color-black text-bold"><u>Edit Existing Order</u></span> impedit
      magnam illum laudantium architecto ipsam officiis, voluptatibus saepe omnis ex voluptate suscipit voluptas
      provident cumque amet possimus in fuga quia a beatae quis. Quo atque blanditiis dolore repellat ut doloremque.<span class="text-color-black text-bold">support@codectrlsolutions.com</span></p>
  </ion-item>
</ion-content>