.box {
    color: white;
    box-shadow: none;
    background-color: #ff5c01;
    height: 60px;
}

swiper-container {
    width: 96%;
    margin: auto;
}

ion-popover {
    --backdrop-opacity: 0;
    --background: var(--ion-background-color, #fff);
    --min-width: 250px;
    --min-height: 0;
    --max-width: 45px;
    --height: 160px;
    --offset-x: 6px;
    --offset-y: 0px;
    border-radius: 60px;
}

.category {
    width: 95%;
    height: 40px;
    padding-top: 10px;
    font-size: 11.6px;
    font-family: sans-serif;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.category:hover{
    opacity: 0.7;
}
.popover {
    width: 95%;
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    color: black;
    border: none;
    cursor: pointer;
}

.popover:hover {
    background-color: rgb(214, 211, 211);
}

.dropdownbtn {
    margin-left: 20px;
    margin-top: 5px;
    color: black;
    font-size: 11px;
    color: white;
    background-color: #ff5c01;
    text-transform: capitalize;
    cursor: pointer;
}
